<main>
    <img [src]="'assets/baby_p2.png'">
    <div class="container">
        <h1>Calcule a data de nascimento do seu bebê</h1>
        <select>
          <option>Data da última menstruação</option>
          <option>Data da concepção ♥</option>
        </select>
        
        <div class="campo">
            <input [(ngModel)]="dataMenstruacao" type="date" class="date"/>
        </div>
       
        <button class="" type="button" value="" (click)="calcGestacao()">Calcular</button>
        <div class="result" id="resuldado">
          <h1>{{ birthDate }}</h1>
  
        </div>
    </div>
</main>