<app-navbar></app-navbar>
<body>
  <a href="combustivel">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="title1">Calcular <br> combustível</div>
  </a>

  <a href="gestacao">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="title2">Calcular <br> gestação</div>
  </a>

  <a href="imc">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="title3">Calcular <br> imc</div>
  </a>
</body>

